.buttonOrange {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background-color:#ffc477;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #5e5546;
}.buttonOrange:hover {
	background-color:#fb9e25;
}.buttonOrange:active {
	position:relative;
	top:1px;
}



.buttonGreen {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background-color:#77d42a;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #aade7c;
}.buttonGreen:hover {
	background-color:#5cb811;
}.buttonGreen:active {
	position:relative;
	top:1px;
}




.buttonYellow {
	-moz-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background-color:#f0c911;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #e65f44;
	display:inline-block;
	color:#c92200;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ded17c;
        
}.buttonYellow:hover {
	background-color:#f2ab1e;
}.buttonYellow:active {
	position:relative;
	top:1px;
}




.bigButtonYellow {
	-moz-box-shadow:inset 0px 1px 20px 0px #f9eca0;
	-webkit-box-shadow:inset 0px 1px 20px 0px #f9eca0;
	box-shadow:inset 0px 1px 20px 0px #f9eca0;
	background-color:#f0c911;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #e65f44;
	display:inline-block;
	color:#c92200;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 6px 6px #ded17c;
}.bigButtonYellow:hover {
	background-color:#f2ab1e;
}.bigButtonYellow:active {
	position:relative;
	top:1px;
}




.bigButtonPink {
	-moz-box-shadow:inset 0px 1px 20px 0px #e6cafc;
	-webkit-box-shadow:inset 0px 1px 20px 0px #e6cafc;
	box-shadow:inset 0px 1px 20px 0px #e6cafc;
	background-color:#c579ff;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #a946f5;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 6px 6px #8628ce;
}.bigButtonPink:hover {
	background-color:#a341ee;
}.bigButtonPink:active {
	position:relative;
	top:1px;
}

.bigButtonRed {
	-moz-box-shadow:inset 0px 1px 20px 0px #fab3ad;
	-webkit-box-shadow:inset 0px 1px 20px 0px #fab3ad;
	box-shadow:inset 0px 1px 20px 0px #fab3ad;
	background-color:#fa665a;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:1px 6px 6px #98231a;
        width: 250px;
}.bigButtonRed:hover {
	background-color:#d34639;
}.bigButtonRed:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

