/* 
    Document   : main
    Created on : 11/07/2012, 01:04:52
    Author     : fernando
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

/*Simple CSS reset for items we will use JUST for this example.
Please use full reset when designing!
Reseting the margin and padding is important for the body tag so the
header and footer will hug the whole screen.*/

h1, p, body, html {
	margin:0;
	padding:0;}

/*Just visual styles*/
body {
	background: #FAFAFA;
	font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#000;
	}

/*Our full length header.
We align the text center so it shows up in the middle.
If you prefer you could right or left align it.*/
#headerbg {
/*	background:#cccc66;
	text-align:center;
	padding:20px;*/

  width: 100%;
  height: 100px;
   /*sheight: 58px;*/
  border-bottom: 1px solid #cbced1;
  border-top: 1px solid #cbced1;
  /*background: white url(../img/bg-header.png) 0 0 repeat-x;*/
  overflow: visible;
  position: relative;
  z-index: 900; 

}

#headerbg #contenido{
  width: 97%;
  padding-left: 10px;
  padding-right:  20px;

}

/*Center Content*/
#container {
  position:relative;
  margin:0 auto;
  width:90%;
         
}





/*Full width footer*/
#footer {
	background:#FAFAFA;
	padding:10px;
	text-align:center;
	}

/*These are just styles used for the example for the content.*/
.left {
	float:left;

	}

.right {
	float:right;
	}

.left p, .right p {
	padding:10px;
	}

/*If you are going to use floats then you will NEED to clear the
footer so it doesn't bunch the content up*/
.clear {clear:both;}

.center_image{
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto
}
/* General Fields */
input[type="text"], input[type="password"],
textarea {
  background: #dde7ed;
  border: 1px solid #b2b7b9;
  padding: 3px 5px 3px 5px;
  font-size: 12px;
  color: #535252;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  -webkit-box-shadow: 0px 0px 3px #cdcdcd, inset 0 0 5px #e2e1e1;
  -moz-box-shadow: 0px 0px 3px #cdcdcd, inset 0 0 5px #e2e1e1; }
  input[type="text"]:focus, input[type="password"]:focus,
  textarea:focus {
    outline: none;
    border: 1px solid #85898A;
    -webkit-box-shadow: 0px 0px 3px #cdcdcd, inset 0 0 5px #bfbfbf;
    -moz-box-shadow: 0px 0px 3px #cdcdcd, inset 0 0 5px #bfbfbf; }
  input[type="text"]:disabled, input[type="password"]:disabled,
  textarea:disabled {
    background: #DDD;
    -webkit-box-shadow: none;
    -moz-box-shadow: none; }

textarea {
  resize: none;
  overflow: auto; }



/* Success, info, notice and error/alert boxes
-------------------------------------------------------------- */

.error,
.alert,
.notice,
.success,
.info { padding: 0.8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error, .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
.notice        { background: #fff6bf; color: #514721; border-color: #ffd324; }
.success       { background: #e6efc2; color: #264409; border-color: #c6d880; }
.info          { background: #d5edf8; color: #205791; border-color: #92cae4; }
.error a, .alert a { color: #8a1f11; }
.notice a          { color: #514721; }
.success a         { color: #264409; }
.info a            { color: #205791; }


/* Login */

.login {
/*  padding: 20px;
  width: 200px;*/
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}



.login fieldset{
   padding: 20px;
}

.login p {
   width: 400px;
}

.login div.input label {
   width: 150px !important;
}


.listado{
  padding:20px;
}




/** Notices and Errors **/
.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
	background: #ffcc00;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
	background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
	background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
	background-image: linear-gradient(top, #ffcc00, #E6B800);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 18px;
	padding: 7px 14px;
	color: #404040;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.cake-error,
p.error,
.error-message {
	clear: both;
	color: #fff;
	background: #c43c35;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	font-weight: normal;
	line-height: 140%;
}
.notice {
	color: #000;
	display: block;
	font-size: 120%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	color: #fff;
}



fieldset {padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;margin-top:-0.2em;margin-bottom:1em;}
fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK {margin-top:0;margin-bottom:0;}

.tablaProductos{
  margin: 10px;
  width: 95%;
}
.tablaProductos th{
  font-size: 20px;
  border: 1px solid;
}

#pedidosProductos{
    height: 100%;
}
.bottomProductos{
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.filtros{
  padding:5px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 95%;
}

.productosListadoPedidos{
 /*overflow: auto;*/
 width: 100%
}




.productosListadoPedidos .columnaProductos{
  width: 35%;
  margin: 0px;
  padding: 0px;
  float: left;
}

.productosListadoPedidos .columnaProductosSeleccionados{
  width: 50%;
  margin: 0px;
  padding: 0px;
  float: left;
  
}
.productosListadoPedidos .columnaTotalPedido{
  margin: 0px;
  padding: 0px;
  float: left;
  
}


.productosListadoPedidos .columnaProductosSeleccionados th{
  text-align: left;

  
}

.pedidoTotal{
  font-size: 2.0em;
  color: red;
}

#productos_seleccionados{
  width: 100%;
 border: 1px solid;
}


#tablaPedidos{
  background: #BEBEBE;
}

#tablaPedidos th{
   color:#fff;
   text-align: center;
   font-weight: bold;
   font-size: 1.2em;
}

#tablaPedidos td{
   color:#fffA;
   text-align: left;
   font-weight: bold;
   font-size: 1.3em;
}


.buttonEliminar{
  font-size: 0.7em !important;
  height: 30px !important;
  color: red !important;
  background: white;
}

.tipoMesa{
  color: red;
  font-style: italic;
  
}

.PedidosForm{
  font-size: 1.8em;
}

.PedidosForm .red{
  color: red;
}

.PedidosForm .button{
  font-size: 1.0em !important;
}

.PedidosForm .center{
  text-align: center;
}

.total{
  width: 100%;
}

.buttons_actions {
  padding: 10px;
  margin: 10px;
  text-align: right;
}



/*Tabs */

/* #tabs {
 border-bottom: .5em solid #03c;
 margin: 0;
 padding: 0;
 }
 #tabs li {
 display:inline;
 border-top: .1em solid #03c;
 border-left: .1em solid #03c;
 border-right: .1em solid #03c;
 margin-top: 20px;
  height: 70px !important;

 }
 #tabs li a {
 text-decoration: none;
 padding: 0.45em 2em;
 color: #000;
 
 margin-left: 20px;
 margin-top: 20px;
 margin-right: 20px;
 font-size:  15px !important;
  
 }*/
 

 
.tabset_tabs	{ margin:0; padding:0; list-style-type:none; position:relative; z-index:2; white-space:nowrap }
.tabset_tabs li	{ margin:0; padding:0; display:inline;  }
.tabset_tabs a	{ color:#339 ! important; background-color:#def ! important; border:1px solid #99c; text-decoration:none; padding:0 2em; border-left-width:1px; border-bottom:none }
.tabset_tabs a:hover	{ color:#00c ! important; background-color:#eff ! important }
.tabset_tabs a.active	{ color:black ! important; background-color:white ! important; border-color:black; border-left-width:1px; cursor:default; border-bottom:white; padding-top:1px; padding-bottom:1px }

.tabset_tabs li.firstchild a	{ border-left-width:1px }

.tabset_content	{ border:1px solid black; background-color:white; position:relative; z-index:1; padding:0.5em 1em; display:none }
.tabset_label	{ display:none }

.tabset_content_active	{ display:block }

@media aural{
	.tabset_content,
	.tabset_label	{ display:block }
}

 .formulario_busqueda{
   padding: 5px;
   margin: 2px;
}

.formulario_busqueda caption {
		padding: 0 0 .5em 0;
		text-align: left;
		font-size: 1.4em;
		font-weight: bold;
		text-transform: uppercase;
		color: #333;
		background: transparent;
}

.formulario_busqueda table {
		
		border:1px solid #686868;
		
		font:1em/145% 'Trebuchet MS',helvetica,arial,verdana;
		color: #333;
                width: 100%;
}


.buttonActions{
  padding-left: 1px;
  margin-left: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  width: auto;
  float: left;
  text-align: left;

}



 .en_tiempo{
  background: #D3D3D3 !important;
}


 .mas_20{
  background: #FFD39B !important;
}

 .mas_40{
  background: #FF4040 !important;
}


.sucursal{
    font-size: 1.0em !important;
    font-weight: bold;
    color: red;
    
}