/* roScripts
Table Design by Mihalcea Romeo
www.roscripts.com
----------------------------------------------- */

.listado_pedidos table {
		border-collapse:collapse;
		background:#EFF4FB url(../img/teaser.gif) repeat-x;
		border-left:1px solid #686868;
		border-right:1px solid #686868;
		font:0.8em/145% 'Trebuchet MS',helvetica,arial,verdana;
		color: #333;
                width: 100%;
}

.listado_pedidos td, th {
		padding:5px;
}

.listado_pedidos caption {
		padding: 0 0 .5em 0;
		text-align: left;
		font-size: 1.4em;
		font-weight: bold;
		text-transform: uppercase;
		color: #333;
		background: transparent;
}

/* =links
----------------------------------------------- */

.listado_pedidos table a {
		color:#666;
		text-decoration:none;
}

.listado_pedidos table a:link {}

.listado_pedidos table a:visited {
		font-weight:normal;
		color:#666;
		text-decoration: line-through;
}

.listado_pedidos table a:hover {
		border-bottom: 1px dashed #bbb;
}

/* =head =foot
----------------------------------------------- */

.listado_pedidos thead th, tfoot th, tfoot td {
		background:#333 url(../img/llsh.gif) repeat-x;
		color:#fff;
                font-size: 1.0em;
                text-align: left;
}

.listado_pedidos tfoot td {
		text-align:right;
                font-size: 1.6em;
}

/* =body
----------------------------------------------- */

.listado_pedidos tbody th, .listado_pedidos tbody td {
		border-bottom: dotted 1px #333;
                text-align: left;
                font-size: 1.4em;
}

.listado_pedidos tbody th {
		white-space: nowrap;
}

.listado_pedidos  a {
		color:#333;
                font-size: 1.0em !important;
}

.listado_pedidos .odd {}

.listado_pedidos tbody tr:hover {
		background:#fafafa
}




th        {background-color: #999999}
tr.odd    {background-color: #cccccc}
tr.even   {background-color: #ffffff}
th, td    {padding: 0.1em 1em}